{% extends "base_new.html" %}

{% block content %}

    <h2 class="page-title">
    	About CurbKarma
    </h2>  

    <h4 class="page-subtitle">
    	CurbKarma is Neighborhood Watch for your car.  Report an issue you see with your neighbor's car and get alerted if they spot anything with yours
    </h4>

	<div class="center hide-large">
		<img id="flow-horizontal" src="/static/images/curb-karma-flow.png">
	</div>

	<div class="center hide-small">
		<img id="vert" src="/static/images/curb-karma-flow-vert.png">
	</div>

{% endblock %}